.wrapper {
  display: flex;
  flex-direction: column;
  margin: 2px;
  width: 300px;
  height: 500px;
  background-color: white;
  align-items: center;
  padding: 50px;
  box-shadow: #ccc;
}

button {
  margin-top: auto;
  width: 60%;
  margin-bottom: 40px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.plan-header {
  font-size: 20px;
  font-weight: bold;
  color: #ccc;
}

.pricing {
  font-size: 50px;
  font-weight: bold;
}

.pricing .symbol {
  font-size: 20px;
}

.pricing .period {
  font-size: 20px;
  color: #ccc;
}

.features {
  width: 100%;
}

.recommended {
  border: 2px Solid #3dcf8e;
  height: 600px;
}

.recommended button {
  background-color: #3dcf8e;
  border: none;
  color: white;
}

.feature {
  display: flex;
  margin-top: 20px;
}

.feature img {
  width: 15px;
  margin-right: 10px;
}
